body > h1{
    color: rgb(255, 255, 255);
    background-color: black ;
    border-radius: 90px;
    transition: padding 0.5s;
    transition: font-size 0.5s;
}

h1:hover{
    padding: 14px 30px;
    font-size: 50px ;


}
body > div {
    margin: 0100px;

}
.btn {
    color : rgb(255, 255, 255);
    padding: 15px 48px;
    border-radius: 100px;
    cursor: pointer;
    transition: opacity 0.3s ;
    transition: padding 0.3s ;
    min-width: 5cm ;
    max-width: 10cm ;
}

a {
    text-decoration: none;
    color :white
}
.btn:hover{
    background-color :#4117da;
    color : black ;
    padding: 15px 60px;
    opacity: 0.5;

}
.btn + .btn{
    margin-top: 20px;
}
.btn--one {
    background-color: #63ff33 ;
    
}
.btn--two {
    background-color: #bb4cb2 ;
    
}
.btn--three{
    background-color: #45cee0 ;
}
